body{
    background-color: black;
    margin: 0px;
}

.box{
    background-color: white;
    border-radius: 20px;
    color: black;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin-top: 200px;
    margin-left: 150px;
    padding: 80px;

}

.box-pink{
    background-color: #FF1DA3;
    border-radius: 5px;
    color: black;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 15px 80px;
    position: absolute;
    margin-left: 8px;
    margin-top: -95px;

}


#footer {
    background-color: white;
    margin-top: 228px;
    margin-bottom: 0px;
    height: 20px;
    width: 100%;
}