body {
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.box-white {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 30px 20px 20px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.box-header {
    background-color: pink;
    width: 250px;
}
